body {
  min-height: 6.25rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  background-size: 100% 25rem;
  animation: gradientMove 16s ease-in-out infinite;
}

@keyframes gradientMove {
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 25rem;
  }
  0% {
    background-position: 0% 0%;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem;
  background: black;
  padding: 0.62rem 0;
  justify-content: center;
  width: 100vw;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  border-bottom: #0015ff;
  border-width: 0.2rem;
  border-style: solid;
}
nav a, nav button {
  color: #0015ff;
  font-weight: bold;
  background: transparent;
  border: none;
  padding: 0.62rem 1.12rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.2s;
  cursor: pointer;
}
nav a.active, nav a:hover, nav button:hover {
  color:#ffffff;
}
main {
  max-width: 40.62rem;
  margin: 1.75rem auto;
  margin-top:5rem;
  background: #3a3939;
  padding: 1.5rem 1.25rem;
  border-radius: 0.8rem;
}
h1{
  color:#ffffff;
  text-align:center;
}
h2 {
  color: #0015ff;
}
h3{
  color:#ffffff;
}
.blog-list,
.blog-item,
.blog-title,
.blog-date {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.blog-item {
  border-bottom: 0.06rem solid #e3e6f0;
  padding: 2rem;
}

.blog-item:last-child {
  border-bottom: none;
}

.blog-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.12rem;
}

.blog-title a {
  color: #0015ff;
  text-decoration: none;
}

.blog-title a:hover{
  color: #ffffff;
  text-decoration: none;
}

.blog-date {
  color: #0015ff;
  font-size: 0.95em;
  margin-top: 1rem;
  margin-bottom: 0.12rem;
}

#webshop1 {
  display: block;
  margin-left: 0;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius:0.5rem;
}
.comment {
  background: #e8eaf6;
  margin: 0.62rem 0;
  padding: 0.62rem 0.88rem;
  border-radius: 0.31rem;
  font-size: 0.98em;
}
@media (max-width: 43.75rem) {
  main {
    padding: 0.75rem 0.25vw;
  }
  nav {
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.62rem 0.25vw;
  }
}


